{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "last 2 versions",
                    "> 1%",
                    "not IE <= 11",
                    "not dead",
                    "Firefox ESR",
                    "not IE_Mob <= 11",
                    "not safari < 13",
                    "not op_mini all",
                    "not ios_saf < 13",
                    "not samsung < 10"
                ]
            }
        }]
    ]
}
